/* ----------------------------------------------------------------------------------- &root ---- */

:root {
    --c-dark-cyan: hsl(158, 36%, 37%);
    --c-cream: hsl(30, 38%, 92%);

    --c-dark-blue: hsl(212, 21%, 14%);
    --c-gray-blue: hsl(228, 12%, 48%);

    --t-family-body: 'Montserrat';
    --t-weight-body: 500;
    --t-weight-body-bold: 700;

    --t-family-display: 'Fraunces';
    --t-weight-display: 700;

    font-size: 14px;
}

html, body, .wrapper {
    width: 100vw;
    height: 100vh;
}

body {
    font-size: 1rem;
    background-color: var(--c-cream);
    font-family: var(--t-family-body);
    font-weight: var(--t-weight-body);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------------------------------------------------------------------- &ProductCard ---- */

.ProductCard {
    --border-radius: 10px;

    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: var(--border-radius);
}

.ProductCard-picture {
    width: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
