/* ----------------------------------------------------------------------------------- &root ---- */

:root {
    --c-darkCyan: hsl(158, 36%, 37%);
    --c-cream: hsl(30, 38%, 92%);

    --c-darkBlue: hsl(212, 21%, 14%);
    --c-grayBlue: hsl(228, 12%, 48%);

    --t-family-body: 'Montserrat';
    --t-weight-body: 500;
    --t-weight-body-bold: 700;

    --t-family-display: 'Fraunces';
    --t-weight-display: 700;

    font-size: 14px;
}

html, body, .wrapper {
    width: 100vw;
    height: 100vh;
}

body {
    font-size: 1rem;
    background-color: var(--c-cream);
    font-family: var(--t-family-body);
    font-weight: var(--t-weight-body);
    color: hsla(0, 0%, 0%, 60%);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------------------------------------------------------------------------- &ProductCard ---- */

.ProductCard {
    --ProductCard-borderRadius: 10px;

    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: var(--ProductCard-borderRadius);
}

.ProductCard-picture {
    width: 100%;
    border-radius: var(--ProductCard-borderRadius) var(--ProductCard-borderRadius) 0 0;
}

.ProductCard-body {
    padding: 1.25rem 1.75rem;
}

.ProductCard-category {
    text-transform: uppercase;
    letter-spacing: .3rem;
}
