/* ----------------------------------------------------------------------------------- &root ---- */

/* desktop width: 1440px */

:root {
    --c-dark-cyan: 158, 36%, 37%;
    --c-cream: 30, 38%, 92%;

    --c-dark-blue: 212, 21%, 14%;
    --c-gray-blue: 228, 12%, 48%;

    --t-family-body: 'Montserrat';
    --t-weight-body: 500;
    --t-weight-body-bold: 700;

    --t-family-display: 'Fraunces';
    --t-weight-display: 700;

    font-size: 14px;
}

body {
    font-size: 1rem;
}
